**/.vs
**/bin
**/obj
**/pkg
**/pkgobj
**/*.user
**/.vs/
**/*.dbmdl
**/~*
**/node_modules
**/*.generated.*
**/*.bak

# Ignore NuGet Packages
*.nupkg

# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*

# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/

# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config

# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Ignore other intermediate files that NuGet might create. project.lock.json is used in conjunction
# with project.json (NuGet v3); project.assets.json is used in conjunction with the PackageReference
# format (NuGet v4 and .NET Core).
**/project.lock.json
**/project.assets.json
*.jfm
*.log

**/.env*
**/docker-compose*override*
**/docker-compose*vs*
!**/docker-compose.vs.debug.yml

**/[Tt]estresults
**/*.runsettings
src/app/DB.WKB.TA/log.html
src/app/DB.WKB.TA/output.xml
src/app/DB.WKB.TA/report.html
infra/Pulumi.wkb-dev.yaml
